@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

body {
  font-family: 'Poller One', cursive;
  background-image: url("./images/sky.jpg");
  color: #FFE818;
  background-attachment: fixed;
}